@model List<ListProductViewModel>

<div>
    <div class="float-start">  <h2>Ürünler</h2>  </div>
    <div class="float-end"> <a asp-area="Admin" asp-controller="Product" asp-action="New" class="btn btn-primary">Yeni Ürün</a> </div>

</div>

<div style="padding-top:75px">


    <table id="productTable" class="table table-striped">
        <thead>
            <tr>
                <th></th>     
                <th>Ürün Adı</th>
                <th>Birim Fiyatı</th>
                <th>Stok Miktarı</th>
                <th>Kategori</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td> 

                        @if (string.IsNullOrWhiteSpace(item.ImagePath))
                        {
                            <img src="~/images/noImage.jpg" width="155" height="155" />
                        }
                        else
                        {

                            @*DataLightbox aynı olanlar arasında slayt geçişi yapılır.*@
                            <a href="~/images/products/@item.ImagePath" data-lightbox="@item.CategoryId" data-title="@item.Name">
                                <img src="~/images/products/@item.ImagePath" width="155" height="155" />
                                </a>



                               



                            
                        }


                    </td>


                    <td>@item.Name</td>
                    <td>@item.UnitPrice</td>
                    <td>@item.UnitInStock</td>
                    <td>@item.CategoryName</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@item.Id">DÜZENLE</a> 

                        <a href="#" class="btn btn-sm btn-danger btnDelete" data-id="@item.Id">
                            Sil
                        </a>

                    </td>
                </tr>
            }

        </tbody>


    </table>



</div>


 @section Scripts{
     <script>

        var table = new DataTable('#productTable', {
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/tr.json',
            },
            pageLength:3
        });

        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'maxWidth' : 400,
            'maxHeight' : 400,
            'fitImagesInViewPort' : true
        })


        $('.btnDelete').click(function(e){

            e.preventDefault(); // Linkin yönlendirme işlemini engelledim. (Uri'ye # atmıyor böylelikle sayfa yukarıya kaymıyor.)

            var productId = $(this).data('id'); // data-id olarak atanan alandaki veriyi tutar.



            Swal.fire({
                title: 'Emin misiniz?',
                text: "Dikkat! Ürün silinecektir.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, onaylıyorum!',
                cancelButtonText : "İptal"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/admin/product/delete/' + productId,
                        method: 'GET' // URL üzerinden istek attım.
                    }).done(function () {
                        Swal.fire(
                            'Silindi!',
                            'Ürün başarıyla silindi.',
                            'success'
                        ).then(() => {window.location.reload()})
                    }).fail(function(){
                        Swal.fire(
                            'Hata!',
                            'Ürün bir hata ile karşılaşıldı. Silme işlemi gerçekleşemedi.',
                            'error'
                        )})

                    
                }
            })


        })

     

    </script>
 }